@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

body {
    position: relative;
    background-color: white;
}

.blur {
    background-color: rgba(0,0,0,0.6);
    color: (0,0,0,0.3);
}

img {
    z-index: -1;
}

a {
    z-index: 101;
}