@import url("../../utils/base.css");

.button {
    padding: 1rem 1.6rem;
    outline: 0;
    border: 0;
    font-size: 0.8rem;
    font-weight: 400;
    width: fit-content;
    transition: all 0.3s ease-out;
}

.button:hover {
    cursor: pointer;
}

.orange {
    background: var(--dark-orange);
    color: var(--white);
}

.orange:hover {
    background: var(--light-orange);
}

.black {
    color: white;
    background: black;
    border: 2px solid black;
}

.black:hover {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
}

.transparent:hover {
    background-color: black;
    color: white;
}
