@import url("../../utils/base.css");

.cart-summary {
    position: absolute;
    flex-direction: column;
    padding: 1rem;
    width: 90vw;
    max-width: 400px;
    margin: 4rem auto;
    border-radius: 8px;
    right: 4vw;
    background-color: white;
    color: black;
    opacity: 1;
    z-index: 100;
    outline: none;
}

.cart-summary > * {
    margin: 1rem 0;
}

.cart-summary > div:first-child {
    display: flex;
    justify-content: space-between;
}

.cart-summary > div:first-child button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--dark-grey);
    text-align: right;
    border: 0;
    letter-spacing: 1px;
    font-size: 1rem;
}

.cart-summary > div:first-child button:hover {
    cursor: pointer;
}

.summary-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.summary-products img {
    max-width: 64px;
    max-height: 64px;
    z-index: 1;
}

.summary-products > div {
    display: flex;
    gap: 1rem;
    text-align: left;
}

.summary-products div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.summary-products div div div:first-child {
    letter-spacing: 1px;
}

.summary-products div div div:last-child {
    color: var(--dark-grey);
    font-weight: 500;
}

.summary-products .item-counter {
    height: 36px;
    color: var(--dark-grey);
    font-weight: 500;
}

.summary-products .item-counter button:first-child {
    padding-left: 8px;
}
.summary-products .item-counter button:last-child {
    padding-right: 8px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.cart-summary button {
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 480px) {
    .cart-summary {
        right: 9vw;
    }
}
