@import url("../../utils/base.css");

.form-section {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 2rem 0;
}

.form-section h4 {
    color: var(--dark-orange);
    letter-spacing: 2px;
}

.form-section section {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 2rem;
}

.form-section div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.payment-details div {
    display: flex;
    flex-direction: row;
}
