@import url("../../utils/base.css");

.checkout {
    width: 90vw;
    margin: 2rem auto;
    padding: 1rem 1.4rem;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.payment-details > div:last-child {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 480px) {
    .checkout {
        width: 80vw;
    }
}

@media screen and (min-width: 640px) {
    section.form-section section {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 1rem));
    }

    .payment-details {
        position: relative;
    }

    .payment-details strong {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
    }

    .payment-details > div:last-child {
        display: flex;
        flex-direction: column;
    }

    .form-section.e-money {
        display: flex;
        flex-direction: row;
    }

    .form-section.e-money > * {
        flex: 1;
    }
}

@media screen and (min-width: 824px) {
    .shipping-info {
        grid-template-areas:
            "address address"
            "zip-code city"
            "country country";
    }

    #checkout
        > section.section-shipping-info.form-section
        > section
        > div:nth-child(1) {
        grid-area: address;
    }
}
