@import url('../../utils/base.css');

header {
    position: absolute;
    width: 100vw;
    display: flex;
    background-color: rgba(0,0,0,0);
    color: white;
    border-bottom: 0.5px solid var(--dark-grey);
    font-weight: 800;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
}

#black-header {
    position: relative;
    background-color: rgba(0,0,0,1);
}

#plain {
    position: relative;
}

header > div:first-child {
    display: flex;
    padding: 1.6rem 0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

header nav {
    display: none;
}

header span {
    background-color: rgba(0,0,0,1);
    padding: 1.6rem 0.9rem 1.6rem 0.9rem; 
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 3px;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.cart-icon {
    position: relative;
    text-align: center;
}

.cart-items {
    position: absolute;
    height: 0.9rem;
    width: 0.9rem;
    font-size: 0.6rem;
    color: white;
    background-color: var(--dark-orange);
    border-radius: 50%;
    bottom: 0;
    right: -0.45rem;
}

@media screen and (min-width: 480px) {  
    header {
        width: 80vw;
        margin: 0 10vw;
        padding: 0;
    }

    #black-header {
        width: 100vw;
        padding: 0 10vw;
        margin: 0;
    }

    header h1 {
        /* flex: 1; */
    }

    header span {
        border-top: 2px solid rgba(255,255,255,0.3);
    }
}

@media screen and (min-width: 824px) {
    header nav {
        display: flex;
        font-weight: 400;
    }
    
    header nav ul {
        display: flex;
        list-style-type: none;
        gap: 3.2rem;
        align-items: center;
    }

    header nav ul a {
        text-decoration: none;
    }

    header nav ul li {
        color: white;
    }

    header nav ul li:hover {
        cursor:pointer;
        color: var(--dark-orange);
    }
}