@import url('../../utils/base.css');

.payment-completed-modal {
    outline: none;
}

.payment-completed {
    position: absolute;
    background-color: white;
    width: 90vw;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.payment-completed h2 {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2.2rem;
}

.payment-completed p {
    font-size: 1rem;
    color: var(--dark-grey);
    letter-spacing: 0.5px;
}

.payment-completed button {
    width: 100%;
    font-size: 1rem;
}

.payment-completed-products {
    padding: 1rem;
    background-color: var(--light-grey);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
}

.payment-completed-products > div {
    width: 100%;
    justify-content: space-between;
}

.payment-completed-products > div > div:first-child {
    display: flex;
    flex-direction: row;
}

.extra-items {
    background-color: var(--light-grey);
    text-align: center;
    padding: 1rem;
}

.extra-items hr {
    width: calc(100% - 1rem);
    margin: 0 auto 1rem auto;
}

.extra-items {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--dark-grey);
}

.grand-total {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    gap: 0.5rem;
    background-color: black;
    border-radius: 0 0 5px 5px;
}

.grand-total p:last-child {
    font-size: 1.2rem;
    color: white;
}


@media screen and (min-width: 554px) {
    .payment-completed {
        width: 80vw;
    }
}

@media screen and (min-width: 720px) {
    .payment-completed {
        width: 500px;
        padding: 3rem;
    }

    .payment-completed > div {
        display: flex;
    }

    .payment-completed-products {
        border-radius: 5px 0 0 5px;
    }

    .payment-completed-products > div > div > div > div, .payment-completed-products > div > div:last-child {
        white-space: nowrap;
    }

    .extra-items {
        padding: 1rem 1rem 0 1rem;
    }

    .grand-total {
        border-radius: 0 5px 5px 0;
        white-space: nowrap;
    }

    .grand-total > div {
        margin: auto;
    }

    .grand-total > div *:first-child {
        margin-bottom: 1rem;
    }

    .grand-total > div *:last-child {
        margin-top: 1rem;
    }
}