@import url("../../utils/base.css");

.review {
    display: flex;
    width: 100%;
    gap: 1rem;
    background-color: var(--light-grey);
    padding: 1.4rem;
    border-radius: 5px;
    max-width: 720px;
}

.review > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: var(--dark-orange);
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
}

.review > div:first-child button {
    background-color: black;
    border: none;
}

.review > div:first-child button:hover {
    cursor: pointer;
}

.review > div:first-child button svg {
    color: var(--dark-grey);
}

.review > div:first-child button.disabled svg {
    color: var(--dark-orange);
}

.review > div:last-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.review > div:last-child p {
    color: var(--light-orange);
}

.review-header {
    display: flex;
    justify-content: space-between;
}

.review-header > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.review-header > div:first-child span:first-child {
    font-weight: 700;
    color: var(--dark-orange);
}

.review-header > div:first-child span:last-child {
    color: var(--dark-grey);
}
