@import url("../../utils/base.css");

.recommended-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
}

.recommended-products img {
    max-width: 100%;
    border-radius: 10px;
}

.recommended-products > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 3rem;
}

.recommended-products > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1.6rem;
}

.recommended-products h3 {
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 600;
}

@media screen and (min-width: 700px) {
    .recommended-products {
        width: 80vw;
        gap: 2rem;
    }

    .recommended-products > div {
        flex-direction: row;
    }

    .recommended-products h3 {
        font-size: 1.2rem;
    }
}
