:root {
       --light-grey: #f1f1f1;
      --medium-grey: #b5b5b5;
--light-medium-grey: #e1e1e1;
        --dark-grey: #898989;
      --dark-orange: #d87c4a;
     --light-orange: #faaf84;
            --black: #000;
            --white: #fff;
}